#tablero {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative; 
    margin-bottom: 10px;
}

.sprite {
    width: 50px;
    height: 50px;
    position: absolute; 
}

.rojo {
    background-color: red;
    top: 10px;
    left: 10px;
}

.azul {
    background-color: blue;
    top: 100px; 
    left: 100px;
}