body {
  background-image: url("nubes-al-estilo-del-anime.jpg");
  background-color: #cccccc; 
}

.cuadrado {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 300px;
    top: 300px;
    transition: all 1s ease; 
    background-size: cover; 
    background-position: center;
}

form {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}