#caja {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
    font-size: 20px;
    font-family: sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: background-color 0.3s; 
}