body {
    background-color: #ffeaa7; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#contenedor-dbz {
    background-color: #e67e22; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    width: 350px;
    text-align: center;
    border: 4px solid #d35400;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: #2980b9; 
    color: white;
    border: 2px solid white;
    padding: 10px;
    width: 100%; 
    margin: 5px 0; 
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #3498db; 
    transform: scale(1.02);
}

#resultado {
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #000;
    font-weight: bold;
    color: #333;
}