<<<<<<< HEAD
body { 
    font-family: 'Verdana', sans-serif; 
    text-align: center;
    background-color: #333; 
    color: white;
}

.botones {
    margin-bottom: 20px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    background-color: #ffcb05; 
    color: #2a75bb; 
    border: 3px solid #2a75bb;
    border-radius: 10px;
}

button:hover {
    background-color: #c7a008;
}

#campo-batalla {
    width: 800px;
    height: 500px;
    background-color: #5da642; 
    border: 5px solid #fff;
    margin: 0 auto;
    position: relative; 
    overflow: hidden;   
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.pokemon-sprite {
    width: 150px;  
    height: 150px;
    position: absolute; 
    object-fit: contain; 
    cursor: crosshair;
    image-rendering: pixelated; 
=======
body { 
    font-family: 'Verdana', sans-serif; 
    text-align: center;
    background-color: #333; 
    color: white;
}

.botones {
    margin-bottom: 20px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    background-color: #ffcb05; 
    color: #2a75bb; 
    border: 3px solid #2a75bb;
    border-radius: 10px;
}

button:hover {
    background-color: #c7a008;
}

#campo-batalla {
    width: 800px;
    height: 500px;
    background-color: #5da642; 
    border: 5px solid #fff;
    margin: 0 auto;
    position: relative; 
    overflow: hidden;   
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.pokemon-sprite {
    width: 150px;  
    height: 150px;
    position: absolute; 
    object-fit: contain; 
    cursor: crosshair;
    image-rendering: pixelated; 
>>>>>>> 02b34197b14dfadb723bf33e2071e9a180a6d62b
}