body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dado {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    line-height: 50px; 
    font-weight: bold;
    color: red;
}